.nav {
    position: fixed;
    width: 215px;
    height: 100%;
    padding: 35px 0;
    background: #303439;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    word-wrap: normal;
}

.logo {
    margin-bottom: 0;
    padding-left: 30px;
}

.navSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 48px;
}

.wrapperLine {
    margin-bottom: 47px
}

.navSection h3,
.wrapperLine {
    padding: 0 40px 0 30px;
    width: 100%;
}

.navSection h3 {
    padding-bottom: 18px;
}

.line {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.buttonActiveNone :hover {
    display: block;
}

.buttonActive div {
    position: relative;
    background: linear-gradient(135deg, rgba(88, 147, 249, 1) 0%, rgba(47, 200, 209, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.buttonActive svg {
    color: #5893f9;
}

.buttonActive::after {
    content: "";
    width: 5px;
    height: 58px;
    background-color: #5893f9;
    background: linear-gradient(to right, rgba(88, 147, 249, 1) 30%, rgba(47, 200, 209, 1) 100%);
    position: absolute;
    right: 0;
    border-radius: 5px;
}

.buttonIcon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

@media (max-width: 1600px) {
    .logo {
        padding-left: 20px;
    }

    .navSection h3,
    .wrapperLine {
        padding: 0 30px 0 20px;
    }

    .navSection h3 {
        padding-bottom: 12px;
    }
}

@media (max-width: 1200px) {
    .nav {
        width: 100px;
        padding: 20px 0;
    }

    .logo {
        margin-bottom: 30px;
    }

    .navSection h3 {
        padding: 0 30px 12px 20px;
    }

    .wrapperLine {
        display: none;
    }

    .buttonIcon {
        margin-right: 5px;
    }

}

@media (max-width: 991px) {
    .logo {
        padding: 0;
        margin: 0 auto 20px auto;
    }

    .nav {
        width: auto
    }

    .nav svg.linkIcon {
        width: 30px;
        height: 30px;
        margin: 0;
    }

    .nav .mobileTool {
        display: none;
    }
}

@media (max-width: 676px) {}