.closeIcon {
    width: 30px !important;
    position: absolute;
    top: 30px;
    right: 30px;
    color: #535E6C;
}

.pageTitle {
    font-weight: 800 !important;
    font-size: 24px !important;
    line-height: 33px !important;
    margin-top: 35px !important;
    margin-bottom: 30px !important;
}

.pageName {
    color: #535E6C !important;
}

.pageNameCount {
    color: #D0D4DA !important;
    margin-left: 5px;
}

.pageTitleContainer {
    margin: 0 !important;
    display: flex;
}

.searchContainer {
    display: flex;
    flex-wrap: wrap;
}

.addButtonContainer {
    margin-left: auto;
    margin-bottom: 20px;
}

/* AppBar */

.navbarItem {
    margin-top: 110px
}

.link {
    display: flex;
    text-decoration: none;
    padding-top: 8.5px;
    padding-bottom: 8.5px;
    width: 185px;
}

.sectionName {
    margin-top: 45px;
    padding-left: 30px;
    margin-bottom: 19px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.2)
}

/* Modal */

.modal {
    max-height: 900px;
    max-width: 800px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    border-radius: 30px;
    box-shadow: none;
    outline: 0;
    top: 50%;
    padding: 20px;
}

.modalInternalContainer {
    display: flex;
    flex-wrap: nowrap;
}

.photoInput {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 700px;
    height: 100%;
    border: 1px dashed #9EA9BA;
    background: #FBFBFB;
    margin-bottom: 35px
}

.scrollContainer {
    max-height: 700px;
    overflow-y: hidden;
    padding: 35px 40px 0 40px;
    box-shadow: inset 2px 2px 4px 5px rgba(0, 0, 0, 0.01);
    border-radius: 30px;
}

.scrollContainer:hover {
    overflow-y: auto;
}

.mainModalName {
    font-size: 24px !important;
    color: #535E6C !important;
    font-weight: 800 !important;
    margin: 30px 40px 15px 40px !important
}

.inputTitle {
    font-size: 16px !important;
    color: #9EA9BA !important;
    font-weight: 600 !important;
    margin-bottom: 15px !important
}

/*CV page*/

.projectContainer {
    display: flex;
}

.cvList {
    font-size: 16px !important;
    color: #9EA9BA !important;
    font-weight: 600 !important;
    margin-bottom: 20px !important;
}

.resentCvList {
    margin-top: 10px !important
}

.allCvList {
    margin-top: 35px !important
}

.cvCardText {
    line-height: 19.1px !important;
    font-family: Nunito, sans-serif !important;
}

.cvCardTitle {
    font-weight: 600 !important;
    font-size: 16px !important;
    color: #535E6C;
    margin-bottom: 20px !important;
    margin-top: 30px !important;
}

.cvCardName {
    font-weight: 400 !important;
    font-size: 14px !important;
    color: #535E6C;
    margin-bottom: 15px !important;
}

.cvCardProject {
    font-weight: 400 !important;
    font-size: 14px !important;
    color: #AFB5BF;
    margin-bottom: 20px !important;
}

.cvCardTime {
    font-weight: 400 !important;
    font-size: 14px !important;
    color: #D0D4DA;
    padding-top: 5px !important;
}

/*Logout page*/

.logoutButtonContainer {
    margin-left: 80px
}

/*Tables*/

.table {
    border: 1px solid #E3E3EA;
    border-radius: 10px;
}

.clicableTableItem {
    color: #5893F9 !important;
    cursor: pointer;
}

/*Tech page*/

.techContainer {
    padding: 0 !important;
    background-color: #FBFBFB;
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 16px !important;
}

.techContainerMain {
    flex-wrap: wrap
}

/*Project page*/

.projectTableClassName {
    width: 30%
}

.projectCardTitle {
    font-family: Nunito, sans-serif !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 19.1px !important;
    color: #989CA8
}

.projectCardDescription {
    margin-left: auto !important;
    margin-right: 10px !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 19.1px !important;
    font-family: Nunito, sans-serif !important
}

.chipContainer {
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap
}

.projectTableChipContainer {
    margin: 0;
}

.projectCardChipContainer {
    margin-left: auto;
}

.projectChip {
    margin-right: 10px;
    background-color: #F0F2F5 !important;
    color: #9EA9BA !important;
    font-family: Nunito, sans-serif !important
}

.projectTableChip {
    font-size: 14px !important;
    font-weight: 600;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.projectCardChip {
    font-size: 12px !important;
}

/*Users page*/

.photoContainer {
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
    margin-bottom: 20px
}

.userCardTitle {
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 24.5px !important;
    color: #535E6C;
    margin-bottom: 25px !important;
    justify-content: center;
    display: flex;
    font-family: Nunito, sans-serif !important;
}

.userCardDescription {
    height: 115px;
    overflow: hidden;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 22px !important;
    color: #AFB5BF;
    margin-bottom: 25px !important;
    font-family: Nunito, sans-serif !important;
}

.moreButton {
    background-color: #ECF2FC !important;
    color: #5893F9 !important;
    text-transform: capitalize !important;
    width: 88px;
    height: 45px;
    font-family: Nunito, sans-serif !important;
}

.moreButton:hover {
    background-color: #ECF2FD
}

/*Logout modal*/

.logoutModalButton {
    text-transform: capitalize !important;
    width: 99px;
    height: 45px;
    font-family: Nunito, sans-serif !important;
}

.logoutModalButton {
    background-color: #5893F9 !important;
    color: #FFFFFF !important;
    margin-right: 20px !important;
}

.closeButton {
    background-color: #F1F3F5 !important;
    color: #535E6C !important;
}

@media (max-width: 1024px) {

    /* AppBar */
    .link {
        padding-top: 0;
        padding-bottom: 0;
    }

    .sectionName {
        margin-top: 20px;
        margin-bottom: 0;
    }

    /* Modal */

    .modal {
        max-height: 850px;
        width: 600px;
        padding: 0 10px 0 10px;
    }

    .scrollContainer {
        max-height: 600px;
    }

    .modalInternalContainer {
        flex-wrap: wrap;
    }

    .photoInput {
        width: 500px;
    }
}

@media (max-width: 425px) {

    .modal {
        /* max-height: 850px; */
        width: 400px;
        padding: 0;
    }

    .photoInput {
        width: 300px;
    }

    /*CV page*/

    .projectContainer {
        display: flex;
        flex-wrap: wrap;
    }

    /*Logout page*/

    .logoutButtonContainer {
        margin-left: 0px
    }
}

@media (max-width: 375px) {

    .modal {
        /* max-height: 850px; */
        width: 350px;
        padding: 0;
    }

    .photoInput {
        width: 250px;
    }

    /*Logout page*/

    .logoutButtonContainer {
        margin-left: 0px
    }
}