  @font-face {
    font-family: 'Nunito';
    src: url('./fonts/static/Nunito-ExtraBold.woff2');
    /* url(./fonts/static/Nunito-ExtraBold.woff); */
    font-display: swap;
    font-style: normal;
    font-weight: 800;
  }

  @font-face {
    font-family: 'Nunito';
    src: url('./fonts/static/Nunito-Regular.woff2');
    /* url(./fonts/static/Nunito-Regular.woff); */
    font-display: swap;
    font-style: normal;
    font-weight: 400;
  }

  @font-face {
    font-family: 'Nunito';
    src: url('./fonts/static/Nunito-SemiBold.woff2');
    /* url(./fonts/static/Nunito-SemiBold.woff); */
    font-display: swap;
    font-style: normal;
    font-weight: 600;
  }


  body {
    margin: 0;
    padding: 0 !important;
    background-color: #FBFBFB;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    text-decoration: none;
  }


  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .noResult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    margin: 150px auto auto auto;
    text-align: center;
  }

  @media (max-width: 1025px) {
    .noResult {
      width: 350px;
      margin: 100px auto auto auto;
    }
  }

  @media (max-width: 769px) {
    .noResult {
      width: 200px;
      margin: 100px auto auto auto;
    }
  }